*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

.tw-absolute {
  position: absolute
}

.tw-relative {
  position: relative
}

.tw-left-3 {
  left: 0.75rem
}

.tw-right-3 {
  right: 0.75rem
}

.tw-top-3 {
  top: 0.75rem
}

.tw-col-span-1 {
  grid-column: span 1 / span 1
}

.\!tw-col-span-full {
  grid-column: 1 / -1 !important
}

.tw-col-auto {
  grid-column: auto
}

.tw-col-span-full {
  grid-column: 1 / -1
}

.tw-my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem
}

.tw-mb-\[36px\] {
  margin-bottom: 36px
}

.tw-flex {
  display: flex
}

.tw-grid {
  display: grid
}

.tw-hidden {
  display: none
}

.tw-aspect-square {
  aspect-ratio: 1 / 1
}

.tw-size-fit {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content
}

.tw-h-6 {
  height: 1.5rem
}

.tw-h-\[52px\] {
  height: 52px
}

.tw-h-\[54px\] {
  height: 54px
}

.tw-w-6 {
  width: 1.5rem
}

.tw-w-\[327px\] {
  width: 327px
}

.tw-w-\[auto\] {
  width: auto
}

.tw-w-full {
  width: 100%
}

.tw-flex-1 {
  flex: 1 1 0%
}

.tw-cursor-pointer {
  cursor: pointer
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.tw-flex-col {
  flex-direction: column
}

.tw-items-center {
  align-items: center
}

.tw-justify-center {
  justify-content: center
}

.tw-gap-\[10px\] {
  gap: 10px
}

.tw-gap-\[16px\] {
  gap: 16px
}

.tw-gap-\[24px\] {
  gap: 24px
}

.tw-gap-\[8px\] {
  gap: 8px
}

.tw-space-y-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 1
}

.tw-space-x-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1
}

.tw-divide-y-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 1
}

.tw-divide-x-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 1
}

.tw-self-center {
  align-self: center
}

.tw-rounded-\[100px\] {
  border-radius: 100px
}

.tw-rounded-sm {
  border-radius: 0.125rem
}

.tw-border {
  border-width: 1px
}

.tw-border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1))
}

.tw-bg-\[\#5C7962\] {
  --tw-bg-opacity: 1;
  background-color: rgb(92 121 98 / var(--tw-bg-opacity, 1))
}

.tw-bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1))
}

.tw-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.tw-object-cover {
  -o-object-fit: cover;
     object-fit: cover
}

.tw-px-\[0px\] {
  padding-left: 0px;
  padding-right: 0px
}

.tw-px-\[12px\] {
  padding-left: 12px;
  padding-right: 12px
}

.tw-px-\[8px\] {
  padding-left: 8px;
  padding-right: 8px
}

.tw-py-\[4px\] {
  padding-top: 4px;
  padding-bottom: 4px
}

.tw-pb-\[8px\] {
  padding-bottom: 8px
}

.tw-text-\[16px\] {
  font-size: 16px
}

.tw-text-\[18px\] {
  font-size: 18px
}

.tw-text-\[40px\] {
  font-size: 40px
}

.tw-text-\[8px\] {
  font-size: 8px
}

.tw-font-\[900\] {
  font-weight: 900
}

.tw-font-medium {
  font-weight: 500
}

.tw-font-normal {
  font-weight: 400
}

.tw-font-semibold {
  font-weight: 600
}

.tw-ordinal {
  --tw-ordinal: ordinal;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.tw-slashed-zero {
  --tw-slashed-zero: slashed-zero;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.tw-leading-\[120\%\] {
  line-height: 120%
}

.tw-leading-\[140\%\] {
  line-height: 140%
}

.tw-tracking-\[-1\%\] {
  letter-spacing: -1%
}

.tw-tracking-\[0\%\] {
  letter-spacing: 0%
}

.tw-tracking-\[3\%\] {
  letter-spacing: 3%
}

.tw-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.tw-ring-inset {
  --tw-ring-inset: inset
}

.tw-contain-size {
  --tw-contain-size: size;
  contain: var(--tw-contain-size) var(--tw-contain-layout) var(--tw-contain-paint) var(--tw-contain-style)
}

.tw-contain-layout {
  --tw-contain-layout: layout;
  contain: var(--tw-contain-size) var(--tw-contain-layout) var(--tw-contain-paint) var(--tw-contain-style)
}

.tw-contain-paint {
  --tw-contain-paint: paint;
  contain: var(--tw-contain-size) var(--tw-contain-layout) var(--tw-contain-paint) var(--tw-contain-style)
}

.tw-contain-style {
  --tw-contain-style: style;
  contain: var(--tw-contain-size) var(--tw-contain-layout) var(--tw-contain-paint) var(--tw-contain-style)
}

@media (min-width: 640px) {
  .sm\:tw-col-auto {
    grid-column: auto
  }

  .sm\:tw-flex {
    display: flex
  }

  .sm\:tw-hidden {
    display: none
  }

  .sm\:tw-w-\[355px\] {
    width: 355px
  }

  .sm\:tw-min-w-\[355px\] {
    min-width: 355px
  }

  .sm\:tw-flex-col {
    flex-direction: column
  }

  .sm\:tw-justify-between {
    justify-content: space-between
  }

  .sm\:tw-overflow-auto {
    overflow: auto
  }

  .sm\:tw-px-0 {
    padding-left: 0px;
    padding-right: 0px
  }

  .sm\:tw-pb-\[16px\] {
    padding-bottom: 16px
  }

  .sm\:tw-pr-\[128px\] {
    padding-right: 128px
  }

  .sm\:tw-text-\[10px\] {
    font-size: 10px
  }
}
